<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find demo21_urdf_rviz)/xacro/test.xacro" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find demo21_urdf_rviz)/config/show_mycar.rviz" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen" />

</launch>
